<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/theme">
<head></head>
<body>

<th:block layout:fragment="content">

  <div class="row" style="margin-top: 20px;">
    <div class="col-md-9 col-12 col">
      <h5>Wallet Balances</h5>
      <canvas id="balance-chart" width="600" height="300"></canvas>
    </div>
    <div class="col-md-3 col-12 col">
    </div>
  </div>

</th:block>

<script src="/js/chartjs.2.8.0.min.js"></script>
<script>
$(function() {
  var ctx = document.getElementById('balance-chart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Bitcoin', 'Ethereum', 'Litecoin', 'Ripple', 'EOS', 'Dogecoin', 'Bitcoincash'],
      datasets: [{
        label: 'Current Balances (%)',
        data: [50, 30, 120, 66, 40, 0, -1],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }, {
        label: 'Medium Balance',
        data: [50, 50, 50, 50, 50, 50, 50],
        // Changes this dataset to become a line
        type: 'line'
      }, {
        label: 'Minimum Balance',
        data: [20, 20, 20, 20, 20, 20, 20],
        // Changes this dataset to become a line
        type: 'line'
      }, {
        label: 'Max Balance',
        data: [100, 100, 100, 100, 100, 100, 100],
        // Changes this dataset to become a line
        type: 'line'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
              beginAtZero: true
          }
        }]
      }
    }
  });
});
</script>

</body>
</html>