<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/theme">
<head>
</head>
<body>

  <th:block layout:fragment="content">
    <div class="row first-row">
      <div class="col-md-3 col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 50%;"><i class="fas fa-plug"></i> Connection</th>
                <th scope="col" style="width: 50%;">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Database</th>
                <td id="database-nw">
                  <span th:if="${isDBCon}"><i class="fas fa-check"></i></span>
                  <span th:unless="${isDBCon}"><i class="fas fa-times"></i></span>
                </td>
              </tr>
              <tr>
                <th>Database Auth.</th>
                <td id="database-at"></td>
              </tr>
              <tr>
                <th>Node</th>
                <td id="node-nw"></td>
              </tr>
              <tr>
                <th>Node RPC Auth.</th>
                <td id="node-rpc-at"></td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 50%;"><i class="fas fa-server"></i> API Server</th>
                <th scope="col" style="width: 50%;">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>O/S</th>
                <td id="osname"></td>
              </tr>
              <tr>
                <th>Memory</th>
                <td id="memusage"></td>
              </tr>
              <tr>
                <th>Storage</th>
                <td id="diskusage"></td>
              </tr>
              <tr style="display: none;">
                <th>CPU</th>
                <td id="cpuusage"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 50%;"><i class="fas fa-cube"></i>&nbsp;Block</th>
                <th scope="col" style="width: 50%;">Count</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Best</th>
                <td id="bestCount"></td>
              </tr>
              <tr>
                <th>Synchronized</th>
                <td id="syncCount" style="font-weight: bold;color: #1976d2;"></td>
              </tr>
              <tr>
                <th>Start From</th>
                <td id="startCount"></td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 50%;"><i class="fas fa-donate"></i> Wallet</th>
                <th scope="col" style="width: 50%;">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Wallet</th>
                <td id="wallet-count"></td>
              </tr>
              <tr>
                <th>Address</th>
                <td id="address-count"></td>
              </tr>
              <tr>
                <th>Balance</th>
                <td id="balance"></td>
              </tr>
              <tr>
                <th>Encrypted(default)</th>
                <td id="wallet-lock"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-sm">
              <thead>
              <tr>
                <th scope="col"><i class="fas fa-radiation"></i> Error Message</th>
                <th scope="col" style="width:15%;">Time</th>
              </tr>
              </thead>
              <tbody id="errors">
              <tr>
                <td colspan="2"class="text-center">There's no error</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-12 col">
        <h5 style="margin-left: 10px;"><i class="fas fa-plane-departure"></i>&nbsp;&nbsp;Last Transactions (Total <span id="transaction-count"></span>)</h5>
        <table class="table table-bordered table-sm">
          <thead>
          <tr>
            <th scope="col">Wallet</th>
            <th scope="col">Purpose</th>
            <th scope="col">TX Hash</th>
            <th scope="col">To Address</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
            <th scope="col">Confirm</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody id="txs">
          <tr>
            <td colspan="8" class="text-center">There's no transaction history</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="script">
  <script>
      function unixToStr(unix_timestamp) {
          var date = new Date(unix_timestamp*1000);
          var month = date.getMonth()+1;
          var day = date.getDate();
          // Hours part from the timestamp
          var hours = date.getHours();
          // Minutes part from the timestamp
          var minutes = date.getMinutes();
          // Seconds part from the timestamp
          // var seconds = date.getSeconds();
          // Will display time in 10:30:23 format
          return month + '.' + day + ' ' + hours + ':' + minutes;
      }
      $(function () {
          $.post("/api/v1/dashboard", null, function (data) {
              // console.log('data ' + JSON.stringify(data));
              // {"code":999,"error":null,
              // "result":{"startCount":539732,"syncCount":0,"bestCount":571449,"balance":0}}
              $("#startCount").text(data.result.startCount);
              $("#syncCount").text(data.result.syncCount);
              $("#bestCount").text(data.result.bestCount);
              $("#balance").text(data.result.balance);
              $("#wallet-count").text(data.result.walletCount);
              $("#osname").text(data.result.systemInfo.osName);
              $("#memusage").text(Math.round(parseFloat(data.result.systemInfo.memoryUsage / data.result.systemInfo.memoryMax * 100).toFixed(2)) + '%');
              $("#diskusage").text(Math.round(parseFloat(data.result.systemInfo.diskUsage / data.result.systemInfo.diskMax * 100).toFixed(2)) + '%');
          });
          $.post("/api/v1/lasttransactions", null, function (data) {
              // console.log('data ' + JSON.stringify(data));
              var str = '';
              if (data.result.txs && data.result.txs.length > 0) {
                  for (var i = 0; i < data.result.txs.length; i++) {
                      var fee = data.result.txs[i].fee == 0 ? '-' : data.result.txs[i].fee.toFixed(8);
                      str += '<tr><td scope="row" class="ellipsis">' + data.result.txs[i].uid + '</td>'
                          + '<td>' + data.result.txs[i].category + '</td>'
                          + '<td class="ellipsis"><a target="_blank" class="blue-text" href="https://live.blockcypher.com/btc-testnet/tx/'
                          + data.result.txs[i].txid + '">' + data.result.txs[i].txid + '</a></td>'
                          + '<td class="ellipsis">' + data.result.txs[i].toAddr + '</td>'
                          + '<td>' + data.result.txs[i].amount.toFixed(8) + '</td>'
                          + '<td>' + fee + '</td>'
                          + '<td>' + data.result.txs[i].confirm + '</td>'
                          + '<td>' + unixToStr(data.result.txs[i].txTime) + '</td></tr>';
                  }
                  $("#txs").html(str);
              }
              $("#transaction-count").text(data.result.totalCount);
          });
          $.post("/api/v1/geterrors", null, function (data) {
              // console.log('data ' + JSON.stringify(data));
              if (data.result === null || typeof (data.result) === 'undefined'
                  || data.result.length < 1) {
                  return;
              }
              var str = '';
              // regDt, id, error
              for (var i = 0; i < 5; i++) {
                  if (data.result.length>0 && i<data.result.length) {
                      str += '<tr><td class="text-left">' + data.result[i].error.replace('\n', '<br>') + '</td>'
                          + '<td>' + data.result[i].regDt.substring(5,16).replace('T', ' ')
                              .replace('-', '.') + '</td></tr>';
                  } else {
                      str += '<tr><td>&nbsp;</td><td>&nbsp;</td></tr>';
                  }
              }
              $("#errors").html(str);
          });
      });
  </script>
  </th:block>

</body>
</html>